* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%!important;
    scroll-snap-type: mandatory;
}

:focus {
    outline: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear:both;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}