.p-perfil{
    color: #000000;
    display: inline-block;
    font-weight: bold;
}

.espaco2{
    padding-top: 30px !important;
}

.fundo-conteudo-perfil{
    background-color: #FFFFFF !important;
}

.li-perfil{
    color: #000000;
}

.borderp {
    position: relative;
    transform: translate(25%);
    z-index: 2;
    border: none;
}

.placeholder-perfil {
    z-index: 0;
    transform: translate(-107%);
    height: 85px;
    width: 85px;
    
    border: none;
}

.label-perfil {
    position: relative;
    margin: 0;
    width: 170px;
    height: 172px;
}

.user-pfp.label-perfil:hover {
    cursor: pointer;
}

.user-pfp.label-perfil:hover > .profile-picture {
    filter: blur(1px);
}

.user-pfp.label-perfil:hover:after {
    content: 'ALTERAR FOTO';
    color: black;
    position: absolute;
    bottom: -7px;
    left: 0;
    font-size: 10px;
    font-weight: bold;
}


.picrow, .selorow {
    height: 185px;
}

.infoblock, .perfilblock {
    margin:  0 0 20px 0;
}

#removePic {
    background-color: rgb(253, 239, 239);
}

#removePic:hover {
    background-color: rgb(255, 218, 218);
}

#changePic {
    background-color: rgb(240, 253, 239);
}

#changePic:hover {
    background-color: rgb(218, 255, 220);
}